<div class="block">
  <h3>Using the Client</h3>
  <div class="content">
    <p>Instructions on using the client should be here.</p>
    <p>The details would be here for your environment variables.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Import", url(:base, :upload)%>
    <li><%= link_to "Events" %></li>
    <li><%= link_to "Merchandise" %></li>
    <li><%= link_to "API Client" %></li>
    <li><%= link_to "Report an Issue" %></li>
  </ul>
</div>
