<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :start_time %><%= f.error_message_on :start_time %>
  <%= f.text_field :start_time, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :end_time %><%= f.error_message_on :end_time %>
  <%= f.text_field :end_time, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :description %><%= f.error_message_on :description %>
  <%= f.text_area :description, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :button %>
</div>
